{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Usertaskid</th>
                <th>Userofferid</th>
                <th>Taskid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td><a href="{{ path('offer_show', { 'id': offer.id }) }}">{{ offer.id }}</a></td>
                <td>{{ offer.price }}</td>
                <td>{{ offer.userTaskId }}</td>
                <td>{{ offer.userOfferId }}</td>
                <td>{{ offer.taskId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('offer_show', { 'id': offer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('offer_edit', { 'id': offer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offer_new') }}">Create a new offer</a>
        </li>
    </ul>
{% endblock %}
